<section
  class="d-flex flex-column flex-lg-row justify-content-center align-items-center"
>
  <!-- infomacion -->
  <div class="informacion text-white">
    <p class="badge py-1 px-3 mb-3" style="font-size: 20px">
      <img src="../../../assets/img/manos.png" />!Hola Soy Rodrigo
    </p>

    <h1>
      Programador
      <span style="color: #10e956; white-space: nowrap">Front-End</span>
      y
      <span style="color: #10e956; white-space: nowrap">Back-End</span>
    </h1>

    <p style="font-size: 20px">
      Me apasiona la programación y me considero autodidacta, siempre en busca
      de aprender nuevas tecnologías y mejorar mis habilidades. Además, tengo
      experiencia en la realización de proyectos tanto personales, académicos y
      profesionales.
    </p>
  </div>

  <!-- imagen -->
  <div class="imagen text-center">
    <img src="../../../assets/img/imagen 1.svg" width="" />
  </div>
</section>
