<nav class="navbar navbar-expand-xll">
  <div class="container">
    <!-- Logo -->
    <a class="navbar-brand" href="#" style="font-size: 36px">{{ titulo }}</a>
    <!-- boton hamburguesa -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- opcines -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            href="https://github.com/rodrigopalomino"
            target="_blank"
            class="nav-link"
            >Github</a
          >
        </li>
        <li class="nav-item">
          <a
            href="https://www.linkedin.com/in/rodrigo-palomino-castro-007904280/"
            target="_blank"
            class="nav-link"
            >LinkedIn</a
          >
        </li>
        <li class="nav-item">
          <a href="https://wa.link/4xyofq" target="_blank" class="nav-link"
            >Whatsapp</a
          >
        </li>
        <li class="nav-item">
          <a
            href="../../../assets/cv.pdf"
            download="Rodrigo_Palomino_Castro"
            class="nav-link"
            >Curriculum Vitae</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
