<section>
  <div class="d-flex justify-content-center" style="position: relative">
    <hr class="w-100" style="position: absolute; top: 17px" />

    <div class="proyectos rounded-2 px-5 py-1">
      <p class="m-0">HERRAMIENTAS</p>
    </div>
  </div>

  <!-- herramientas -->
  <div
    class="herramientas row row-cols-5 gap-3 rounded-4 mt-5 py-3 d-flex justify-content-center text-white"
    style="background: rgba(12, 140, 52, 0.5); margin: 0 auto"
  >
    @if (herramientas) {} @for (herramienta of herramientas; track
    herramienta.name) {
    <div
      class="cj col-xl-2 col-md-3 col-4 rounded-3 d-flex justify-content-around align-items-center"
    >
      <img src="{{ herramienta.img }}" />
      <p class="m-0 ms-4">{{ herramienta.name }}</p>
    </div>
    }
  </div>
</section>
