<section>
  <div class="d-flex justify-content-center" style="position: relative">
    <hr class="w-100" style="position: absolute; top: 17px" />

    <div class="proyectos rounded-2 px-5 py-1">
      <p class="m-0">HERRAMIENTAS</p>
    </div>
  </div>

  <!-- herramientas -->
  <div
    class="herramientas row row-cols-5 gap-3 rounded-4 mt-5 py-3 d-flex justify-content-center text-white"
    style="background: rgba(12, 140, 52, 0.5); margin: 0 auto"
  >
    <div
      class="cj col-xl-2 col-md-3 col-4 rounded-3 d-flex justify-content-around align-items-center"
    >
      <img src="../../../assets/img/react.svg" />
      <p class="m-0 ms-4">React</p>
    </div>

    <div
      class="cj col-xl-2 col-md-3 col-4 rounded-3 d-flex justify-content-around align-items-center"
    >
      <img src="../../../assets/img/angular.svg" />
      <p class="m-0 ms-3">Angular</p>
    </div>
    <div
      class="cj col-xl-2 col-md-3 col-4 rounded-3 d-flex justify-content-around align-items-center"
    >
      <img src="../../../assets/img/node.svg" />
      <p class="m-0 ms-3">NodeJs</p>
    </div>

    <div
      class="cj col-xl-2 col-md-3 col-4 rounded-3 d-flex justify-content-around align-items-center"
    >
      <img src="../../../assets/img/django.svg" />
      <p class="m-0 ms-3">Django</p>
    </div>
    <div
      class="cj col-xl-2 col-md-3 col-4 rounded-3 d-flex justify-content-around align-items-center"
    >
      <img src="../../../assets/img/flask.svg" style="background: white" />
      <p class="m-0 ms-4">Flask</p>
    </div>

    <div
      class="cj col-xl-2 col-md-3 col-4 rounded-3 d-flex justify-content-around align-items-center"
    >
      <img src="../../../assets/img/sqlserver.svg" />
      <p class="m-0 ms-3">SqlServer</p>
    </div>

    <div
      class="cj col-xl-2 col-md-3 col-4 rounded-3 d-flex justify-content-around align-items-center"
    >
      <img src="../../../assets/img/mysql.svg" />
      <p class="m-0 ms-3">MySql</p>
    </div>

    <div
      class="cj col-xl-2 col-md-3 col-4 rounded-3 d-flex justify-content-around align-items-center"
    >
      <img src="../../../assets/img/mongoDB.svg" />
      <p class="m-0 ms-2">MongoDB</p>
    </div>
    <div
      class="cj col-xl-2 col-md-3 col-4 rounded-3 d-flex justify-content-around align-items-center"
    >
      <img src="../../../assets/img/github.svg" />
      <p class="m-0 ms-3">Github</p>
    </div>

    <div
      class="cj col-xl-2 col-md-3 col-4 rounded-3 d-flex justify-content-around align-items-center"
    >
      <img src="../../../assets/img/figma.svg" />
      <p class="m-0 ms-4">Figma</p>
    </div>
  </div>
</section>
