<div style="margin-top: 10rem">
  <div class="d-flex justify-content-center" style="position: relative">
    <hr class="w-100" style="position: absolute; top: 17px" />
    <div class="proyectos rounded-2 px-5 py-1">
      <p class="m-0">Proyectos</p>
    </div>
  </div>

  <swiper-container class="mySwiper mt-5" navigation="true">
    <swiper-slide>
      <div class="card border-0">
        <img
          src="../../../../assets/img/proyectos/cinestar.PNG"
          class="card-img-top rounded-2"
        />
        <div class="card-body">
          <h2>Cinestar</h2>
          <p class="card-text">
            ¡Una réplica de la página web de Cinestar! Combina Angular, React y
            Django en el front-end y Flask en el servidor para una experiencia
            única e impresionante.
          </p>
          <div>
            <small class="me-1">Visitar Repositorio : </small>

            <a
              href="https://github.com/rodrigopalomino/angular_cinestar"
              target="_blank"
            >
              <span
                class="badge border border-2 border-black rounded-pill text-bg-light me-1"
                >Angular ↵</span
              >
            </a>

            <a
              href="https://github.com/rodrigopalomino/react_cinestar"
              target="_blank"
            >
              <span
                class="badge border border-2 border-black rounded-pill text-bg-light me-1"
                >React ↵</span
              >
            </a>
            <a
              href="https://github.com/rodrigopalomino/django_cinestar"
              target="_blank"
            >
              <span
                class="badge border border-2 border-black rounded-pill text-bg-light me-1"
                >Django ↵</span
              >
            </a>
            <a
              href="https://github.com/rodrigopalomino/flaskAlchemy_cinestar"
              target="_blank"
            >
              <span
                class="badge border border-2 border-black rounded-pill text-bg-light me-1"
                >Flask ↵</span
              >
            </a>
          </div>
        </div>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="card border-0">
        <img
          src="../../../../assets/img/proyectos/tienda_efe.PNG"
          class="card-img-top rounded-2"
        />
        <div class="card-body">
          <h2>Tienda Efe</h2>
          <p class="card-text">
            ¡Una réplica de la página web Efe! Combina Angualr y Nodejs con una
            base de datos MySql.
          </p>
          <div>
            <small class="me-1">Visitar Repositorio : </small>

            <a
              href="https://github.com/rodrigopalomino/nodejs_tienda_efe"
              target="_blank"
            >
              <span
                class="badge border border-2 border-black rounded-pill text-bg-light me-1"
                >Angular ↵</span
              >
            </a>

            <a
              href="https://github.com/rodrigopalomino/angular_tienda_efe_2"
              target="_blank"
            >
              <span
                class="badge border border-2 border-black rounded-pill text-bg-light me-1"
                >Node ↵</span
              >
            </a>
          </div>
        </div>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="card border-0">
        <img
          src="../../../../assets/img/proyectos/lista_juegos.PNG"
          class="card-img-top rounded-2"
        />
        <div class="card-body">
          <h2>Lista de Juegos</h2>
          <p class="card-text">
            Una pagina web programada con angular y nodejs que cumple la funcion
            de una lista de juegos.
          </p>
          <div>
            <small class="me-1">Visitar Repositorio : </small>

            <a
              href="https://github.com/rodrigopalomino/angular__lista_de_juego"
              target="_blank"
            >
              <span
                class="badge border border-2 border-black rounded-pill text-bg-light me-1"
                >Angular ↵</span
              >
            </a>

            <a
              href="https://github.com/rodrigopalomino/nodejs_lista_de_juegos"
              target="_blank"
            >
              <span
                class="badge border border-2 border-black rounded-pill text-bg-light me-1"
                >Node ↵</span
              >
            </a>
          </div>
        </div>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="card border-0">
        <img
          src="../../../../assets/img/proyectos/animaciones.PNG"
          class="card-img-top rounded-2"
        />
        <div class="card-body">
          <h2>Animaciones con css y Js</h2>
          <p class="card-text">
            Una pagina web que contiene animaciones programadas con css y
            javascript.
          </p>
          <div>
            <small class="me-1">Visitar Repositorio : </small>

            <a
              href="https://rodrigopalomino.github.io/miniProgramas.github.io/"
              target="_blank"
            >
              <span
                class="badge border border-2 border-black rounded-pill text-bg-light me-1"
                >Pagina ↵</span
              >
            </a>
          </div>
        </div>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="card border-0">
        <img
          src="../../../../assets/img/proyectos/red_social.PNG"
          class="card-img-top rounded-2"
        />
        <div class="card-body">
          <h2>Red Social</h2>
          <p class="card-text">
            Una red social desarrollada con angular y nodejs donde puedes
            publicar, comentar y chatear.
          </p>
          <div>
            <small class="me-1">Visitar Repositorio : </small>

            <a
              href="https://github.com/rodrigopalomino/angular_redSocial"
              target="_blank"
            >
              <span
                class="badge border border-2 border-black rounded-pill text-bg-light me-1"
                >Angular ↵</span
              >
            </a>

            <a
              href="https://github.com/rodrigopalomino/mode_api_redSocial"
              target="_blank"
            >
              <span
                class="badge border border-2 border-black rounded-pill text-bg-light me-1"
                >Node ↵</span
              >
            </a>
          </div>
        </div>
      </div>
    </swiper-slide>
  </swiper-container>
</div>
