<!-- seccion => contactame -->
<div class="text-white" style="margin-top: 10rem">
  <h2
    class="text-center"
    style="
      font-size: px;
      margin-bottom: 60px;
      transform: rotate(10deg);
      color: #10e956;
    "
  >
    Contáctame
  </h2>

  <div class="d-flex flex-column flex-md-row justify-content-center">
    <a
      href="https://github.com/rodrigopalomino"
      target="_blank"
      class="github w-100 py-3 d-flex align-items-center justify-content-center"
    >
      <span class="me-3 text-white">Github</span>
      <img src="../../../assets/img/github-contactame.svg" width="60px" />
    </a>

    <a
      href="https://www.linkedin.com/in/rodrigo-palomino-castro-007904280/"
      target="_blank"
      class="linkedlin w-100 py-3 d-flex align-items-center justify-content-center"
    >
      <span class="me-3 text-white">LinkedIn</span>
      <img src="../../../assets/img/linkenlin.svg" width="60px" />
    </a>

    <a
      href="https://wa.link/4xyofq"
      target="_blank"
      class="whatsapp w-100 py-3 d-flex align-items-center justify-content-center"
    >
      <span class="me-3 text-white">Whatsapp</span>
      <img src="../../../assets/img/whatsapp.svg" width="60px" />
    </a>
  </div>

  <div class="email text-center d-flex justify-content-center">
    <!-- <img src="../../../assets/img/email.svg" width="55px" /> -->
    <span class="email d-block py-1 ms-2 text-white">{{ email }}</span>
  </div>
</div>

<!-- seccion => footer -->
<footer class="border border-dark">
  <span class="text-white text-center d-block my-3"
    >© Copyright 2024, Rodrigo Palomino. Todos los derechos reservados.</span
  >
</footer>
